<header class="site-header">
  <div class="container">
    <a href="{{ site.baseurl }}"><img src="{{ "/img/pypi-sml.png" | prepend: site.baseurl }}" alt="PyPI logo" class="pypi-logo"/></a>

    <form class="search" action="{{ "/packages/" | prepend: site.baseurl }}">
      <input type="text" placeholder="Search Packages">
      <input type="submit" name="name" value="Search" class="button dark">
    </form>

    <nav>
      <a href="#">Login</a>
      <a href="#">Register</a>
      <a href="#">Help</a>
    </nav>
  </div>
</header>

<section class="mobile-search">
  <form class="search" action="{{ "/packages/" | prepend: site.baseurl }}">
    <input type="text" placeholder="Search Packages">
    <input type="submit" name="name" value="Search" class="button dark">
  </form>
</section>
