<header class="site-header">
  <div class="site-container">
    <div class="split-layout">
      <div class="split-layout">
        <a class="brand-logo" href="{{ site.baseurl }}">
          <img class="logo" src="{{ "/img/pypi-sml.png" | prepend: site.baseurl }}" alt="PyPI logo"/>
        </a>
        <form class="search-form -primary" action="{{ "/packages/" | prepend: site.baseurl }}">
          <input class="search" type="text" placeholder="Search Packages">
          <button class="wh-button -dark">Search</button>
        </form>
      </div>
      <nav class="horizontal-menu -light -tall">
        <a class="link" href="#">Login</a>
        <a class="link" href="#">Register</a>
        <a class="link" href="#">Help</a>
      </nav>
    </div>
  </div>
</header>

<section class="mobile-search">
  <form class="search-form -fullwidth" action="{{ "/packages/" | prepend: site.baseurl }}">
    <input class="search" type="text" placeholder="Search Packages">
    <button class="wh-button -dark">
      <i class="icon fa fa-search"></i>
      <span class="text">Search</span>
    </button>
  </form>
</section>
