/**
 * Site header
 */
.site-header {
  background-color: lighten($brand-color, 2);
  border-bottom: 1px solid darken($brand-color, 2);

  .pypi-logo {
    padding: 15px 0;
    max-width: 65px;
    float: left;
  }

  .search {
    float: left;
    margin: 25px 0 0 50px;

    input {
      display: inline;
      float: left;
    }

    input[type=text]{
      width: 400px;
      margin-right: 5px;
    }
  }

  nav {
    float: right;

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      padding: 30px 15px;

      &:hover {
        text-decoration: underline;
        text-decoration-color: rgba(255,255,255, 0.4);
      }
    }
  }
}
