// Test banner
.test-pypi {
  .warning {
    background-color: #f41f1f;
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
    color: $white;
    text-align: center;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    line-height: 25px;
    font-weight: 600;
    font-size: 20px;

    p {
      padding: 15px;
      margin: 0;

      i {
        font-size: 16px;
      }
    }
  }
}

/**
 * Site header
 */
.site-header {
  background-color: lighten($brand-color, 2);
  border-bottom: 1px solid darken($brand-color, 2);

  .pypi-logo {
    padding: 15px 0;
    max-width: 65px;
    float: left;

    @media screen and (max-width: 400px) {
      max-width: 50px;
    }
  }

  .search {
    float: left;
    margin: 25px 0 0 50px;

    @media screen and (max-width: 750px) {
      display: none;
    }

    input[type=text]{
      display: inline;
      float: left;
      width: 400px;
      margin-right: 5px;
      border-color: $white;

      @media screen and (max-width: 900px) {
        width: 250px;
      }
    }
  }

  nav {
    float: right;

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      padding: 30px 15px;

      @media only screen and (max-width: 400px){
        padding: 25px 10px;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: rgba(255,255,255, 0.4);
      }
    }
  }
}

section.mobile-search {
  display: none;
  padding: 10px;
  background-color: darken($brand-color, 5);

  .search {
    @include clearfix;

    input[type=text] {
      width: 79%;
      margin: 0;
      float: left;
      border-color: $white;
    }

    .button {
      width: 20%;
      float: right;

      i.fa {
        display: none;
      }

      @media only screen and (max-width: 450px){
        span {
          display: none;
        }

        i.fa {
          display: block;
          line-height: 22px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    display: block;
  }
}
