
.homepage-banner {
  background-color: $brand-color;
  color: $white;
  text-align: center;
  padding: 60px 0;

  h1 {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    font-size: 40px;
    line-height: 50px;
  }

  .search {
    input[type=text] {
      font-size: 22px;
      padding: 9px 10px;
      margin-bottom: 10px;
      display: inline-block;
      width: 600px;
      max-width: 100%;
      @media screen and (min-width: 739px) {
        margin-right: 5px;
      }
    }

    .button {
      position: relative;
      top: -1px;
    }
  }

  .browse {
    margin-top: 20px;
    font-size: 22px;

    a {
      color: $white;
      text-decoration: underline;
      text-decoration-color: rgba(255,255,255, 0.4);
    }
  }
}


.about-pypi {
  display: table;

  .col-7,
  .col-4 {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .col-4 {
    text-align: right;

    img {
      width: 220px;
      max-width: 100%;
      margin: -15px 50px 0 0;
    }
  }
}
