
.homepage-banner {
  background-color: $brand-color;
  color: $white;
  text-align: center;
  padding: 60px 0;

  @media only screen and (max-width: 400px){
     padding: 30px 0;
  }

  h1 {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    font-size: 40px;
    line-height: 50px;

    @media only screen and (max-width: 800px){
       font-size: 35px;
       line-height: 45px;
    }

    @media only screen and (max-width: 400px){
       font-size: 30px;
       line-height: 35px;
       padding: 0 10px 30px 10px;
    }
  }

  .search {
    input {
      font-size: 22px;
      padding: 9px 10px;
      margin: 0 2px 10px 0;
      display: inline-block;
      width: 600px;
      max-width: 70%;
      box-sizing: border-box;
      border-color: darken($brand-color, 2);

      @media only screen and (max-width: 400px){
        margin-right: 0;
      }
    }

    .button {
      position: relative;
      top: -1px;
      max-width: 30%;
      box-sizing: border-box;
    }

    .button i.fa {
      display: none;
    }

    @media only screen and (max-width: 400px){
       .button {
         padding: 9px;

         i.fa {
           display: inline-block;
         }
       }

       .button span {
         display: none;
       }
    }
  }

  .browse {
    margin: 20px 0 10px 0;
    font-size: 22px;

    @media only screen and (max-width: 400px){
       font-size: 18px;
    }

    a {
      color: $white;
      text-decoration: underline;
      text-decoration-color: rgba(255,255,255, 0.4);
    }
  }
}

section.statistics {
  text-align: center;
  padding: 10px 0;

  @media only screen and (max-width: 400px){
     display: none;
  }

  p {
    color: darken($brand-color, 15);
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;

    @media only screen and (max-width: 800px){
       font-size: 18px;
    }
  }
}

.about-pypi {
  display: table;
  max-width: 1000px;
  margin: 0 auto;

  .large-logo,
  .about-text {
    display: table-cell;
    vertical-align: middle;
    float: none;

    @media only screen and (max-width: 550px){
       display: block;
       width: 100%;
    }

    @media only screen and (max-width: 550px){
      margin-bottom: -10px;
    }
  }

  .large-logo {
    text-align: right;

    @media only screen and (max-width: 550px){
      display: none;
    }

    img {
      width: 220px;
      max-width: 100%;
      margin: -15px 50px 0 0;

      @media only screen and (max-width: 800px){
         margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .top-packages {
    margin-bottom: 40px;
  }
}
