

.intro {
  font-weight: 700;
  font-size: 20px;
  color: lighten($text-color, 10);
}

section.content {
  padding: 70px 0;

}

.package-list {
  padding-top: 5px;
  margin-bottom:40px;
}

.package-snippet {
  border: 1px solid darken(#ececec, 5);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  padding: 15px 20px 15px 80px;
  margin: 10px 0 20px;
  background: $white url('../img/white-cube.png') no-repeat 0 50%;
  background-position: 20px;

  .title {
    float: left;
    margin-bottom: 3px;
  }

  .meta {
    float: right;
    margin: 3px 0 0 0;
    font-size: 16px;

    .version {
      font-weight: 700;
    }
  }

  .description {
    clear: both;
    margin-bottom: 0;
    font-style: italic;
    font-size: 16px;
  }
}

section.grey {
  background-color: #ececec;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

section.statistics {
  text-align: center;

  p {
    color: #004168;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    margin: 0;
  }
}
