

.intro {
  font-weight: 600;
  font-size: 20px;
  color: lighten($text-color, 10);
}

section.content {
  padding: 70px 0;

  @media only screen and (max-width: 800px){
    padding: 50px 0;
  }

  @media only screen and (max-width: 400px){
    padding: 40px 0;
  }
}

.package-list {
  padding-top: 5px;
  margin-bottom:40px;
}

.package-snippet {
  border: 1px solid darken(#ececec, 5);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  padding: 15px 20px 15px 80px;
  margin: 10px 0 20px;
  background: $white url('../img/white-cube.png') no-repeat 0 50%;
  background-position: 20px;

  @media screen and (max-width: 400px) {
    margin: 5px 0 15px 0;
  }

  .title {
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .meta {
    margin: 1px 0 2px;
    font-size: 16px;

    .version {
      font-weight: 700;
    }
  }

  .description {
    clear: both;
    font-style: italic;
    font-size: 16px;
  }
}

section.grey {
  background-color: #ececec;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.highlight-badge {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: darken($highlight-color, 50);
  background: $highlight-color;
  padding: 2px 7px;
  border-radius: 3px;
}
