// Packages list page (search results)

aside.filter-results {
  @include span-columns(3);
  padding: 60px 0;
}

.search-results {
  @include span-columns(9);
  padding: 60px 0;
}

// Top of package list
.order-results {
  display: table;
  width: 100%;
  margin-bottom: 10px;

  .description,
  .order {
    display: table-cell;
    vertical-align: middle;
  }

  .order {
    text-align: right;

    select {
      margin-left: 5px;
    }
  }
}

// Filter sidebar-section

.applied-filters {
  .filter {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 0 4px 5px;
    border-radius: 2px;
    background-color: $brand-color;
    color: $white;
    display: inline-block;
    margin-bottom: 5px;

    a {
      color: $white;
      padding: 5px;
      border-left: 1px solid rgba(255,255,255, .2);
    }
  }
}

// Expanding / Collapsing sections
.expander {
  margin-top: 10px;

  .expander-trigger {
    padding: 5px;
    display: block;
    text-decoration: none;

    &::before {
      font-family: 'FontAwesome';
      content: "\f139";
      margin-right: 0.5em;
    }
  }

  .expander-content {
    padding: 10px 0;
      a {
      display: block;
      margin-right: 10px;
    }
  }

  .expander-hidden {
    &::before {
      font-family: 'FontAwesome';
      content: "\f13a";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}

.available-filters {
  label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    display: table;
    width: 100%;
    line-height: 1.2;
    padding: 3px 0;

    input[type=checkbox] {
      display: table-cell;
      vertical-align: middle;
      width: 10%;
    }

    span {
      width: 90%;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .child-category {
    margin-left: 15px;
  }
}
