// SETTINGS - COLOURS

$brand-color:      #006dad;
$highlight-color:  #ffd343;
$success-color:    #169428;
$danger-color:     #f41f1f;

$white:            #fff;
$background-color: #fdfdfd;
$base-grey:        #ececec;
$text-color:       #464646;
