/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $bold-font-weight;
}

h1 {
  font-size: rem(40px);
  line-height: 45px;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5, h6 {
  font-size: 1rem;
  text-transform: uppercase;  
}
